<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card z-depth-4">
                    <div class="card-header" >
                        <h5 class="title">Valor Sacado</h5>
                        <p class="category">Valor Total: {{cash.value}}</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-responsive">
                            <thead>
                            <tr>
                                <th>Nota</th>
                                <th>Quantidade</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="userView in users" ng-class="userView.id === user.id  ? 'selected-to-edit' : ''">
                                <td>{{userView.username}}</td>
                                <td>{{userView.toShowRole}}</td>
                                <td>{{userView.toShowRole}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
