<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="#!">
                        Home
                    </a>
                </li>
                <li>
                    <a href="https://www.gsw.com.br/">
                        Empresa
                    </a>
                </li>
            </ul>
            <ul class="pull-right">
                <a>
                    <a href="https://www.gsw.com.br">@ 2018 - Caixa Eletrônico - Gsw Soluções Integradas Ltda</a>
                </a>
            </ul>
        </nav>
    </div>
</footer>
